.u-section-1 {
  background-image: url("images/bg-2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1;
  font-weight: 700;
  margin: 60px 381px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 598px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  align-self: center;
  margin: 40px auto 60px 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-right: 181px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}